.acme-navbar-text{
  color: white;
}

a {
  color: black;
}

h1 {
  font-size: 2em;
  margin: 0;
  line-height: 1.25em;
}

a:hover, a:focus {
  color: greenyellow;
}

#image_udec
{
	position: absolute;
	left: 980px;
	top: -5px;
	width: 100px;
	height: 100px;
}