<nav class="navbar navbar-static-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
            <ul class="nav navbar-nav">
                <li><a href="/#/main">Home</a></li>
                <li class="page-scroll" class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown">Estructuras de datos</a>
                    <ul class="dropdown-menu">
                        <li><a href="/#/listas">Listas</a></li>
                        <li><a href="/#/pilas">Pilas</a></li>
                        <li><a href="/#/colas">Colas</a></li>
                        <li><a href="/#/arreglos_unidimensionales">Arreglos unidimencionales</a></li>
                        <li><a href="/#/arreglos_bidimensionales">Arreglos bidimensionales</a></li>
                        <li><a href="/#/arreglos_tres_mas_dimensiones">Arreglos de tres o más dimensiones</a></li>
                        <li><a href="/#/tablasHash">Tabla Hash</a></li>
                    </ul>
                </li>
                <li>
                    <a class="btn dropdown-toggle" data-toggle="dropdown">Arboles</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/#/arbolBinario">Arbol Binario</a></li>
                        <li><a href="/#/arbolBinarioBusqueda">Arbol Binario Busqueda</a></li>
                        <li><a href="/#/arbolAVL">Arbol AVL</a></li>
                        <li><a href="/#/arbolRojiNegro">Arbol RojiNegro</a></li>
                        <li><a href="/#/arbolSplay">Arbol Splay</a></li>
                        <li><a href="/#/arbolHeap">Arbol Heap</a></li>
                    </ul>
                </li>
                <li >
                    <a class="btn dropdown-toggle" data-toggle="dropdown">Teoria de grafos</a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="/#/teoriaDeGrafos">Grafos</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
