<div class="container">
    <div>
        <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </div>
    <div class="contenido_home jumbotron text-center">
        <h2 class="">Universidad de cundinamarca - Seccional Ubaté</h2>
        <p class="lead">
            <!-- <img src="assets/images/yeoman.png" alt="I'm Yeoman"> -->
        </p>
        <p class="animated infinite">
            <a class="btn btn-lg btn-success btn_home_ia" href="/#/listas">Iniciar aprendizaje</a>
        </p>
        <p>
            Inteligencia artificial
        </p>
        <div>
            <a class="navbar-brand" href="#">
                <img id="img_udec_home" src="../assets/images/udec.png">
            </a>
        </div>
    </div>
</div>
