/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.contenido_home{
       padding-bottom: 307px;
}
#img_udec_home{
  max-width: 12%;
    position: absolute;
    left: 44%;
}
.btn_home_ia{
    color: #fff;
    background-color: #5AADBB !important;
    border-color: #5AADBB !important;
}
.btn_home_ia:hover{
    color: #000;
    background-color: #fff;
    border-color: #000;
}
.btn_home_ia:active {
    color: #000 !important;
    background-color: #fff !important;
    border-color: #000 !important;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}
.mylist{
	display: inline-block;
	padding: 5px 7px;
	margin-bottom: 5px;
	border: 1px solid;
}
.mylistPile
{
	display: block;
	width: 120px;
}
#lista_pila
{
	margin: 0 auto;
}
.input_valor
{
	margin-top: 10px;
    margin-bottom: 10px;
}
.indice_css
{
	padding: 0 13px ;
}

body {
	padding-top:10px;
}

.tdgridHilight {
    background:#777;
    color:#fff;
}

.tdgridOrange {
	background:#f90;
}

.tnode {
  border-radius:20px;
  border:1px solid #ccc;
  padding:10px;
  position:absolute;
}


.tedge1 {
  border:1px solid #ccc;
  width:30px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); 
  transform: rotate(45deg);
  position:absolute;
  left:387px;
  top:64px;
}

.tedge2 {
  border:1px solid #ccc;
  width:30px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); 
  transform: rotate(135deg);
  position:absolute;
  left:350px;
  top:64px;
}

.tree {
  position:relative;
}

.treeNote {
  left:20px;
  top:20px;
}

.container {
	min-width:1170px;
}

#leftContainer {
	width:22%;
}

#demopanel {
	margin-top:10px;
}

.listBordered {
  border:1px solid #ccc;
  width:50px;
  padding:10px;
}

#tabdemo {
	position:relative;
}
#aerbol_container
{
	margin-left: -100px;
    background-color: #fff;
}
#center-container {
    width:600px;
    left:200px;
    background-color:#8C8888;
    color:#ccc;
}
#infovis {
    position:relative;
    width:600px;
    height:600px;
    margin:auto;
    overflow:hidden;
}
div#contenedorGrafos {
    width: 60%;
    margin: 0 auto;
}
.titulo {}
.subtitulos{
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    
    color: #000;
}

.parrafos{
  padding-bottom: 5px;
  font-size: large ;
  font-family: "Times New Roman", Times, serif;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
