<div class="container">
    <div>
        <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </div>
    <div class="jumbotron">
        <h2 class="text-center titulo">Grafos</h2>
        <div class="parrafos">
            Un grafo en el ámbito de las ciencias de la computación es un tipo abstracto de datos (TAD), que consiste en un conjunto de nodos (también llamados vértices) y un conjunto de arcos (aristas) que establecen relaciones entre los nodos. El concepto de grafo TAD desciende directamente del concepto matemático de grafo.
            <br>
            <br> Formalmente, un grafo se define como G=(V,E), siendo V un conjunto cuyos elementos son los vértices del grafo y, E uno cuyos elementos son las aristas (edges en inglés), las cuales son pares (ordenados si el grafo es dirigido) de elementos en V.
        </div>
        <div class="parrafos"><br>
            <strong class="subtitulos">Formas de representación</strong>
            <br> Existen diferentes implementaciones del tipo grafo: con una matriz de adyacencias (forma acotada) y con listas y multilistas de adyacencia (no acotadas).
            <ul>
                <li>
                    Matriz de adyacencias: se asocia cada fila y cada columna a cada nodo del grafo, siendo los elementos de la matriz la relación entre los mismos, tomando los valores de 1 si existe la arista y 0 en caso contrario.
                </li>
                <li>
                    Lista de adyacencias: se asocia a cada nodo del grafo una lista que contenga todos aquellos nodos que sean adyacentes a él.
                </li>
            </ul>
        </div>
        <div class="parrafos"><br>
            <strong class="subtitulos">Especificación de los tipos abstractos de datos de un grafo no dirigido</strong>
            <br>
            <ul>
                <li>
                    <strong class="subtitulos">Generadores</strong>
                    <br>Crear un grafo vacío: Devuelve un grafo vacío.
                    <ul>
                        <li>op crearGrafo : -> Grafo [ctor].</li>
                    </ul>
                    Añadir una arista: Dado un grafo, añade una relación entre dos nodos de dicho grafo.
                    <ul>
                        <li>op añadirArista : Grafo Nodo Nodo -> [Grafo] [ctor].</li>
                    </ul>
                    Añadir un nodo: Dado un grafo, incluye un nodo en él, en caso en el que no exista previamente.
                    <ul>
                        <li>op añadirNodo : Grafo Nodo -> Grafo [ctor].</li>
                    </ul>
                </li>
                <li>
                    <strong class="subtitulos">Constructores</strong>
                    <br>Borrar nodo: Devuelve un grafo sin un nodo y las aristas relacionadas con él. Si dicho nodo no existe se devuelve el grafo inicial.
                    <ul>
                        <li>op borrarNodo : Grafo Nodo -> Grafo.</li>
                    </ul>
                    Borrar arista: Devuelve un grafo sin la arista indicada. En caso de que la arista no exista devuelve el grafo inicial.
                    <ul>
                        <li>op borrarArista : Grafo Nodo Nodo -> Grafo.</li>
                    </ul>
                </li>
                <li>
                    <strong class="subtitulos">Selectores</strong>
                    <br>Grafo Vacío: Comprueba si un grafo no tiene ningún nodo.
                    <ul>
                        <li>op esVacio : Grafo -> Bool.</li>
                    </ul>
                    Contener Nodo: Comprueba si un nodo pertenece a un grafo.
                    <ul>
                        <li>op contiene : Grafo Nodo -> Bool.</li>
                    </ul>
                    Adyacentes: Comprueba si dos nodos tienen una arista que los relacione.
                    <ul>
                        <li>op adyacentes : Grafo Nodo Nodo -> Bool.</li>
                    </ul>
                    Para la especificación de un grafo dirigido tenemos que modificar algunas de las ecuaciones de las operaciones borrarArista y añadirArista para que no se considere el caso de aristas bidireccionales.
                    <br>
                    <br> Y sustituir la operación adyacentes por:
                    <ul>
                        <li>op predecesor : Grafo Nodo Nodo -> Bool.</li>
                        <li>op sucesor : Grafo Nodo Nodo -> Bool.</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="parrafos">
            <strong class="subtitulos">Ejemplo: </strong>
        </div>
        <br>
        <div id="contenedorGrafos" class="parrafos">
            <div id="center-container">
                <div id="infovis"></div>
            </div>
            <div id="inner-details"></div>
            <div id="log"></div>
        </div>
    </div>
</div>
