<div class="container">
  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>
  <div class="jumbotron">
    <h2 class="text-center titulo">Arbol AVL</h2>
    <div class="parrafos">
        es un tipo especial de árbol binario ideado por los matemáticos rusos Adelson-Velskii y Landis. Fue el primer árbol de búsqueda binario auto-balanceable que se ideó.<br><br>
        Los árboles AVL están siempre equilibrados de tal modo que para todos los nodos, la altura de la rama izquierda no difiere en más de una unidad de la altura de la rama derecha o viceversa. Gracias a esta forma de equilibrio (o balanceo), la complejidad de una búsqueda en uno de estos árboles se mantiene siempre en orden de complejidad O(log n). El factor de equilibrio puede ser almacenado directamente en cada nodo o ser computado a partir de las alturas de los subárboles.<br><br>Para conseguir esta propiedad de equilibrio, la inserción y el borrado de los nodos se ha de realizar de una forma especial. Si al realizar una operación de inserción o borrado se rompe la condición de equilibrio, hay que realizar una serie de rotaciones de los nodos.
    </div>
    <div class="parrafos"><br>
        <strong class="subtitulos">Factor de equilibrio</strong><br>
        Cada nodo, además de la información que se pretende almacenar, debe tener los dos punteros a los árboles derecho e izquierdo, igual que los árboles binarios de búsqueda (ABB), y además el dato que controla el factor de equilibrio.<br>
        El factor de equilibrio es la diferencia entre las alturas del árbol derecho y el izquierdo:<br>
        <ul>
            <li>FE = altura subárbol derecho - altura subárbol izquierdo</li>
            <li>Por definición, para un árbol AVL, este valor debe ser -1, 0 ó 1.</li>
        </ul>
        Si el factor de equilibrio de un nodo es:<br>
        <ul>
            <li>0 -> el nodo está equilibrado y sus subárboles tienen exactamente la misma altura.</li>
            <li>1 -> el nodo está equilibrado y su subárbol derecho es un nivel más alto.</li>
            <li>-1 -> el nodo está equilibrado y su subárbol izquierdo es un nivel más alto.</li>
        </ul>
        Si el factor de equilibrio {\displaystyle |Fe|>=2} {\displaystyle |Fe|>=2} es necesario reequilibrar.
    </div>
    <div class="parrafos">
        <strong class="subtitulos">Operaciones</strong><br>
        Las operaciones básicas de un árbol AVL implican generalmente el realizar los mismos algoritmos que serían realizados en un árbol binario de búsqueda desequilibrado, pero precedido o seguido por una o más de las llamadas "rotaciones AVL".
    </div>
    <div class="parrafos">
        <strong class="subtitulos">Rotaciones</strong><br>
        El reequilibrado se produce de abajo hacia arriba sobre los nodos en los que se produce el desequilibrio. Pueden darse dos casos: rotación simple o rotación doble; a su vez ambos casos pueden ser hacia la derecha o hacia la izquierda.
    </div>
    <div class="parrafos">
        <strong class="subtitulos">inserción</strong><br>
        La inserción en un árbol de AVL puede ser realizada insertando el valor dado en el árbol como si fuera un árbol de búsqueda binario desequilibrado y después retrocediendo hacia la raíz, rotando sobre cualquier nodo que pueda haberse desequilibrado durante la inserción.<br>
        Proceso de inserción:
        <ol>
            <li>
                Buscar hasta encontrar la posición de inserción o modificación (proceso idéntico a inserción en árbol binario de búsqueda)
            </li>
            <li>
                Insertar el nuevo nodo con factor de equilibrio “equilibrado”
            </li>
            <li>
                Desandar el camino de búsqueda, verificando el equilibrio de los nodos, y re-equilibrando si es necesario
            </li>
        </ol>
    </div>
    <div class="parrafos">
        <strong class="subtitulos">Extracción</strong><br>
        El procedimiento de borrado es el mismo que en el caso de árbol binario de búsqueda. La diferencia se encuentra en el proceso de reequilibrado posterior. El problema de la extracción puede resolverse en O (log(n)) pasos. Una extracción trae consigo una disminución de la altura de la rama donde se extrajo y tendrá como efecto un cambio en el factor de equilibrio del nodo padre de la rama en cuestión, pudiendo necesitarse una rotación.<br><br>Esta disminución de la altura y la corrección de los factores de equilibrio con sus posibles rotaciones asociadas pueden propagarse hasta la raíz.
    </div>
  </div>
</div>