<div class="container">
    <div>
        <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </div>
    <div class="jumbotron">
        <h2 class="text-center titulo">Arbol Binario</h2>
        <div class="parrafos">
            Es una estructura de datos en la cual cada nodo puede tener un hijo izquierdo y un hijo derecho. No pueden tener más de dos hijos (de ahí el nombre "binario"). Si algún hijo tiene como referencia a null, es decir que no almacena ningún dato, entonces este es llamado un nodo externo. En el caso contrario el hijo es llamado un nodo interno.
            <br> Los árboles representan las estructuras no-lineales y dinámicas de datos más importantes en computación. Dinámicas, puesto que la estructura árbol puede cambiar durante la ejecución de un programa. Nolineales, puesto que a cada elemento del árbol pueden seguirle varios elementos.
        </div>
        <div class="parrafos">
            <br>
            <strong class="subtitulos">Terminos</strong>
            <br>
            <ul>
                <li><strong>Raíz:</strong> es aquel elemento que no tiene antecesor.</li>
                <li><strong>Rama:</strong> arista entre dos nodos.</li>
                <li><strong>Antecesor:</strong> un nodo X es es antecesor de un nodo Y si por alguna de las ramas de X se puede llegar a Y.</li>
                <li><strong>Sucesor:</strong> un nodo X es sucesor de un nodo Y si por alguna de las ramas de Y se puede llegar a X.</li>
                <li><strong>Grado de un nodo:</strong> el número de descendientes directos que tiene.</li>
                <li><strong>Hoja:</strong> nodo que no tiene descendientes: grado 0.</li>
                <li><strong>Nodo interno:</strong> aquel que tiene al menos un descendiente.</li>
                <li><strong>Nivel:</strong> número de ramas que hay que recorrer para llegar de la raíz a un nodo.</li>
                <li><strong>Altura:</strong> el nivel más alto del árbol. En el ejemplo de la figura 1 la altura es 3.</li>
                <li><strong>Anchura:</strong> es el mayor valor del número de nodos que hay en un nivel.</li>
            </ul>
        </div>
        <div class="parrafos">
            <strong class="subtitulos">Árboles binarios distintos</strong>
            <br> Dos árboles binarios son distintos cuando sus estructuras son diferentes.
        </div>
        <div class="parrafos">
            <br>
            <strong class="subtitulos">Árboles binarios similares</strong>
            <br> Dos árboles binarios son similares cuando sus estructuras son idénticas, pero la información que contienen sus nodos difiere entre sí.
        </div>
        <div class="parrafos">
            <br>
            <strong class="subtitulos">Árboles binarios equivalentes</strong>
            <br> Los árboles binarios equivalentes se definen como aquellos que son similares y además los nodos contienen la misma información.
        </div>
        <div class="parrafos">
            <br>
            <strong class="subtitulos">Recorridos en árboles binarios</strong>
            <br> Una de las operaciones más importantes a realizar en un árbol binario es el recorrido de los mismos. Recorrer significa visitar los nodos del árbol en forma sistemática; de tal manera que todos los nodos del mismo sean visitados una sola vez. Existen tres formas diferentes de efectuar el recorrido y todas ellas de naturaleza recursiva, éstas son:
            <br>
            <ul>
                <li>Recorrido en preorden
                    <ul>
                        <li>Visitar la raíz</li>
                        <li>Recorrer el subárbol izquierdo</li>
                        <li>Recorrer el subárbol derecho</li>
                    </ul>
                </li>
                <li>Recorrido en inorden
                    <ul>
                        <li>Recorrer el subárbol izquierdo</li>
                        <li>Visitar la raíz</li>
                        <li>Recorrer el subárbol derecho</li>
                    </ul>
                </li>
                <li>Recorrido en postorden
                    <ul>
                        <li>Recorrer el subárbol izquierdo</li>
                        <li>Recorrer el subárbol derecho</li>
                        <li>Visitar la raíz</li>
                    </ul>
                </li>
                <li>
                    El termino visitar puede ser reemplazado por escribir la información el nodo.
                </li>
            </ul>
        </div>
        <div class="container">
            <div id="aerbol_container" class="row">
                <div id="leftContainer" class="col-xs-3">
                </div>
                <div class="col-xs-6">
                    <h2>Arbol de Busqueda Binaria</h2>
                    <div id="socialShareDiv"></div>
                    <div class="panel form-group">
                        <label for="inputNumbers">Introduzca los números con una coma como separación</label>
                        <input type="text" ng-model="arblBirio.nodos" class="form-control" id="inputNumbers" placeholder="Enter numbers" value="1,23,5,3,9,2,39">
                    </div>
                    <button id="displayBSTSteps" ng-model="tablasH.crear" ng-click="arblBirio.crear()" class="btn btn-default">Crear ABB</button>
                    <button id="displayBSTinOrder" ng-click="arblBirio.PrinInOrden()" class="btn btn-default">Imprimir en orden</button>
                    <button id="displayBSTpreOrder" ng-click="arblBirio.PrinPreOrden()" class="btn btn-default">Imprimir pre orden</button>
                    <button id="displayBSTpostOrder" ng-click="arblBirio.PrinPostOrden()" class="btn btn-default">Imprimir post orden</button>
                    <div style="margin-top:5px">
                        <button id="displayBSTheight" ng-click="arblBirio.PrinHeight()" class="btn btn-default">Imprimir altura</button>
                        <button id="displayIsBalanced" ng-click="arblBirio.Balanced()" class="btn btn-default">Equilibrar</button>
                    </div>
                    <div id="demopanel" class="panel">
                        <div role="tabpanel">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#tabdemo" aria-controls="home" role="tab" data-toggle="tab">Ejemplo</a></li>
                                <li role="presentation"><a href="#tabexp" aria-controls="profile" role="tab" data-toggle="tab">Explicación</a></li>
                                <li role="presentation"><a href="#tabc" aria-controls="messages" role="tab" data-toggle="tab">Usando C</a></li>
                                <li role="presentation"><a href="#tabjava" aria-controls="settings" role="tab" data-toggle="tab">Usando Java</a></li>
                                <li role="presentation"><a href="#tabjs" aria-controls="settings" role="tab" data-toggle="tab">Usando JavaScript</a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="tabdemo">
                                    <div id="printLogDiv"></div>
                                    <table id="printLogTable" class="table"></table>
                                </div>
                                <div role="tabpanel" urlLoad="/trees/binary-search-tree-Exp.html" class="tab-pane urlLoad" id="tabexp"></div>
                                <div role="tabpanel" urlLoad="/trees/binary-search-tree-C.html" class="tab-pane urlLoad" id="tabc"></div>
                                <div role="tabpanel" urlLoad="/trees/binary-search-tree-Java.html" class="tab-pane urlLoad" id="tabjava"></div>
                                <div role="tabpanel" urlLoad="/trees/binary-search-tree-JS.html" class="tab-pane urlLoad" id="tabjs"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="rightContainer" class="col-xs-3">
                </div>
            </div>
        </div>
    </div>
</div>
