<div class="container">
  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>
  <div class="jumbotron">
    <h2 class="text-center titulo">Arbol Binario Busqueda</h2>
    <div class="parrafos">
        también llamados BST (acrónimo del inglés Binary Search Tree) es un tipo particular de árbol binario que presenta una estructura de datos en forma de árbol usada en informática, tambien es un método de búsqueda simple, dinámico y eficiente considerado como uno de los fundamentales en ciencia de la computación. De toda la terminología sobre árboles,tan sólo recordar que la propiedad que define un árbol binario es que cada nodo tiene a lo más un hijo a la izquierda y uno a la derecha.
    </div>
    <div class="parrafos">
        <br>
        <strong class="subtitulos">Operaciones</strong><br>
        Todas las operaciones realizadas sobre árboles binarios de búsqueda están basadas en la comparación de los elementos o clave de los mismos, por lo que es necesaria una subrutina, que puede estar predefinida en el lenguaje de programación, que los compare y pueda establecer una relación de orden entre ellos, es decir, que dados dos elementos sea capaz de reconocer cual es mayor y cual menor. Se habla de clave de un elemento porque en la mayoría de los casos el contenido de los nodos será otro tipo de estructura y es necesario que la comparación se haga sobre algún campo al que se denomina clave.
    </div>
    <div class="parrafos">
        <br>
        <strong class="subtitulos">Búsqueda</strong><br>
        La búsqueda Silaina consiste en acceder a la raíz del árbol, si el elemento a localizar coincide con éste la búsqueda ha concluido con éxito, si el elemento es menor se busca en el subárbol izquierdo y si es mayor en el derecho. Si se alcanza un nodo hoja y el elemento no ha sido encontrado se supone que no existe en el árbol. Cabe destacar que la búsqueda en este tipo de árboles es muy eficiente, representa una función logarítmica. El máximo número de comparaciones que necesitaríamos para saber si un elemento se encuentra en un árbol binario de búsqueda estaría entre [log2(N+1)] y N, siendo N el número de nodos.
    </div>
    <div class="parrafos">
        <br>
        <strong class="subtitulos">Inserción</strong><br>
        La inserción es similar a la búsqueda y se puede dar una solución tanto iterativa como recursiva. Si tenemos inicialmente como parámetro un árbol vacío se crea un nuevo nodo como único contenido el elemento a insertar. Si no lo está, se comprueba si el elemento dado es menor que la raíz del árbol inicial con lo que se inserta en el subárbol izquierdo y si es mayor se inserta en el subárbol derecho.
    </div>
    <div class="parrafos">
        <br>
        <strong class="subtitulos">Borrado</strong><br>
        La operación de borrado no es tan sencilla como las de búsqueda e inserción. Existen varios casos a tener en consideración:<br>
        <ul>
            <li><strong>Borrar un nodo sin hijos o nodo hoja:</strong> simplemente se borra y se establece a nulo el apuntador de su padre.</li>
            <li><strong>Borrar un nodo con un subárbol hijo:</strong> se borra el nodo y se asigna su subárbol hijo como subárbol de su padre.</li>
            <li><strong>Borrar un nodo con dos subárboles hijo:</strong>  la solución está en reemplazar el valor del nodo por el de su predecesor o por el de su sucesor en inorden y posteriormente borrar este nodo. Su predecesor en inorden será el nodo más a la derecha de su subárbol izquierdo (mayor nodo del subarbol izquierdo), y su sucesor el nodo más a la izquierda de su subárbol derecho (menor nodo del subarbol derecho).</li>
        </ul>
    </div>
  </div>
</div>