<div class="container">
    <div>
        <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </div>
    <div class="jumbotron">
        <h2 class="text-center titulo">Arreglos bidimensionales</h2>
        <div class="parrafos">
            Un arreglo bidimensional es un conjunto de datos homogéneo, finito y ordenado, donde se hace referencia a cada elemento por medio de dos índices. El primero se utiliza generalmente para indicar renglón, y el segundo para indicar columnas. También puede definirse como un arreglo de arreglos. Un arreglo bidimensional (también conocido como tabla o matriz), es un arreglo con dos índices, al igual que los vectores que deben ser ordinales. Es común destacar que el empleo de los arreglos de dos dimensiones se emplea para la construcción de tablas, en la cual están representadas por filas y columnas. Como se mencionó, para localizar o almacenar un valor en el arreglo se deben especificar dos posiciones (dos subíndices), uno para la fila y otro para la columna.
            <br> Arreglo [ Fila, Columna ]
            <br>
            <br> Las operaciones empleadas en un arreglo como la lectura, escritura, actualización, ordenamiento y búsqueda, seguirán el mismo método de los arreglos unidimensionales, con la diferencia de los dos índices.
            <br> Por ejemplo, necesitamos una matriz donde se almacenen las calificaciones de 30 personas, conteniendo cinco materias y su matrícula. La estructura del arreglo quedaría de la siguiente forma:
            <br> int Registros [ ] [ ] = new int [ 30 ][ 6 ];
            <br>
            <br> Otra variante sería la siguiente:
            <br> String Datos[] = {“Matricula”,”;Materia1”,”Materia2”,”Materia3”,”Materia4”,”Materia5”};
            <br> int Registros [ ] [ ] = new int [ 30 ][ Datos.length ];
        </div>
        <div class="parrafos">
            <br> Como ejemplo se muestra el siguiente arreglo bidimensional, y en la parte inferior tres campos de inserción y un botón, en el primer campo “Fila índice 1”, se debe ingresar la posición fila (i) del elemento a remplazar, en el segundo campo “Columna índice 2”, se debe ingresar la posición columna (j) del elemento a remplazar, en el último campo “Valor”, se debe registrar el valor que va a remplazar el indicado por los índices.
        </div>
        <br>
        <div class="list-group text-center parrafos">
            <div>
                <div>
                    <table class="table table-reflow">
                        <tr ng-repeat="y in arrayBi.grid">
                            <td ng-repeat="x in y track by $index">{{x}}</td>
                        </tr>
                    </table>
                </div>
                <div class=" input_valor text-center">
                    <label>
                        FIla indice 1:
                    </label>
                    <input ng-model="arrayBi.indice_1" name="">
                    <label>
                        Columna Indice 2:
                    </label>
                    <input ng-model="arrayBi.indice_2" name="">
                    <label>
                        Valor:
                    </label>
                    <input ng-model="arrayBi.newValue" name="">
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" ng-click="arrayBi.fnInsertar()">
                        Actualizar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
