<div class="container">
    <div>
        <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </div> 
    <div class="jumbotron">
        <h2 class="text-center titulo">Arreglos unidimensionales</h2>
        <div class="parrafos">
            es un tipo de datos estructurado compuesto de un número de elementos finitos, homogéneos y ordenados. Los elementos del arreglo se almacenan en posiciones contiguas de memoria, a cada una de las cuales se puede acceder directamente mediante su índice. La forma de acceder a un arreglo de una dimensión es directa, pues se puede especificar el índice del elemento sin necesidad de conocer el contenido de los elementos contiguos. Donde finita significa que debe tener un límite de elementos, homogénea que los elementos deben de ser del mismo tipo de datos, y ordenada porque se puede conocer cuál es el primer elemento, los subsiguientes o el último.
            <br>
            <br> Dentro del uso de los arreglos, se puede hacer referencia a un número de elemento para introducir, actualizar o extraer valores, ese número de elemento se conoce como índice y especifica la posición del elemento en el arreglo.
            <br>
            <br> Para referirse a una posición del arreglo, es necesario conocer el nombre del arreglo y su índice, por ejemplo, tenemos un arreglo llamado “Datos” y necesitamos extraer el valor “77” que se encuentra en dicho arreglo, es necesario especificar: Datos [3], donde el numero 3 hace referencia a la posición dentro del arreglo donde se encuentra el número.
        </div>
        <div class="list-group text-center parrafos">
            <div>
                <label>Indice:</label>
                <div class="mylist indice_css list-group-item list-group-item-warning" ng-repeat="num in arrayUni.indice track by $index ">
                    {{num}}
                </div>
            </div>
            <label>Datos:</label>
            <div class="mylist list-group-item list-group-item-warning" ng-repeat="numer in arrayUni.mylist track by $index ">
                {{numer}}
            </div>
            <div class=" input_valor text-center">
                <label>
                    Indice
                </label>
                <input ng-model="arrayUni.indice_eliminar" name="">
                <label>
                    Valor
                </label>
                <input ng-model="arrayUni.newValue" name="">
            </div>
            <div class="text-center">
                <button class="btn btn-primary" ng-click="arrayUni.fnInsertar()">
                    Insertar
                </button>
                <button class="btn btn-primary" ng-click="arrayUni.fnEliminar()">
                    Eliminar
                </button>
            </div>
        </div>
    </div>
</div>
