<div class="container">
    <div>
        <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </div>
    <div class="jumbotron">
        <h2 class="text-center titulo">Arreglos de tres o más dimensiones</h2>
        <div class="parrafos">
            Esta estructura de datos que está compuesta por n dimensiones, especificada en índices, y para hacer referencia a cada componente del arreglo es necesario utilizar n índices por cada dimensión empleada.
            <br>
            <br> La sintaxis para la creación de un arreglo de tres dimensiones quedaría de la siguiente forma:
            <br>Tipo Nombre_Arreglo [ ] [ ] [ ] = new Tipo [Fila] [ Columna ] [ Profundidad ];
        </div>
        <br>
        <div class="">
            <div>
                <table class="table table-bordered">
                    <tr ng-repeat="y in arrayTresD.grid">
                        <td ng-repeat="x in y track by $index">{{x}}</td>
                        <!--<td ng-repeat="z in y track by $index">{{z}}</td>-->
                    </tr>
                </table>
            </div>
            <div class=" input_valor text-center">
                <label>
                    Fila indice 1:
                </label>
                <input ng-model="arrayTresD.indice_1" name="">
                <label>
                    Columna Indice 2:
                </label>
                <input ng-model="arrayTresD.indice_2" name="">
                <label>
                    Profundidad Indice 3:
                </label>
                <input ng-model="arrayTresD.indice_3" name="">
            </div>
            <div>
                <label>
                    Valor:
                </label>
                <input ng-model="arrayTresD.newValue" name="">
            </div>
            <div class="text-center">
                <button class="btn btn-primary" ng-click="arrayTresD.fnInsertar()">
                    actualizar
                </button>
            </div>
        </div>
    </div>
</div>
