<div class="container">
    <div> 
        <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </div>
    <div class="jumbotron">
        <h2 class="text-center titulo">Colas</h2>
        <div class="parrafos">
            Las colas son un conjunto de elementos caracterizadas porque las operaciones de inserción y borrado se realizan sobre extremos opuestos de la estructura. La inserción se produce en el "final", mientras que el borrado se realiza en el otro extremo, el "inicio". Las restricciones definidas para una cola hacen que el primer elemento que se inserta en ella sea, igualmente, el primero en ser extraido de la estructura. Si una serie de elementos A, B, C, D, E se insertan en una cola en ese mismo orden, entonces los elementos irán saliendo de la cola en el ordenen que entraron. Por esa razón son llamadas FIFO (First In First Out), es decir, “el primero que entra es el primero que sale”.
            <br>
            <br>
        </div>
        <div class="parrafos">
            <strong class="subtitulos">Cola simple</strong>
            <br>Se inserta por un sitio y se saca por otro, en el caso de la cola simple se inserta por el final y se saca por el principio. Para gestionar este tipo de cola hay que recordar siempre cual es el siguiente elemento que se va a leer y cual es el último elemento que se ha introducido.
        </div>
        <br class="parrafos">
        <div class="list-group text-center">
            <div class="mylist list-group-item list-group-item-warning" ng-repeat="numer in cl.mylist track by $index ">
                {{numer}}
            </div>
            <div class=" input_valor text-center">
                <input ng-model="cl.newValue" name="">
            </div>
            <div class="text-center">
                <button class="btn btn-primary" ng-click="cl.fnInsertar()">
                    Insertar
                </button>
                <button class="btn btn-primary" ng-click="cl.fnEliminar()">
                    Eliminar
                </button>
            </div>
        </div>
    </div>
</div>
