<div class="container"> 
    <div>
        <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </div>
    <div class="jumbotron">
        <h2 class="text-center titulo titulo">Listas</h2>
        <div class="parrafos"> 
            Una lista es un contenedor secuencial en el que se pueden insertar y borrar elementos independientemente del tamaño del contenedor. Para insertar un elemento cualquiera debemos ir recorriendo la lista, lo que pudiera hacer creer que las listas son menos prácticas que los vectores, pero estas tienen sus ventajas: una inserción en medio de la lista no requiere mover todos los elementos que se encuentran después del punto de inserción mientras que en un vector es necesario recorrer todos los elementos para abrir espacio al nuevo elemento.
            <br> Las operaciones básicas de los diferentes tipos de listas son las misma sólo que se realizan de formas diferentes dependiendo de la naturaleza de cada una de ellas. Estas operaciones básicas son: Insertar, Eliminar, editar y consultar un dato en la estructura.
            <br>
            <br>
        </div>
        <div class="parrafos">
            <strong class="subtitulos">Inserción de un elemento en una lista</strong>
            <br>El nuevo elemento que se desea incorporar a una lista se puede insertar de distintas formas, según la posición de inserción. Ésta puede ser:
            <br>
            <ul>
                <li>
                    En la cabeza (elemento primero) de la lista.
                </li>
                <li>
                    En el final de la lista (elemento último).
                </li>
                <li>
                    Ordenado
                </li>
            </ul>
        </div>
        <div>
            <div class="list-group text-center">
                <div class="mylist list-group-item list-group-item-warning" ng-repeat="numer in vm.mylist 	track by $index ">
                    {{numer}}
                </div>
            </div>
            <div class="text-center">
                <input ng-model="vm.newValue" name="">
            </div>
            <br>
            <div class="text-center">
                <button class="btn btn-primary" ng-click="vm.fnAdd_principio()">
                    Agregar al principio
                </button>
                <button class="btn btn-primary" ng-click="vm.fnAdd()">
                    Agregar al final
                </button>
                <button class="btn btn-primary" ng-click="vm.fnAdd_orden()">
                    Ordenar
                </button>
            </div>
        </div>
        <div class="parrafos"><br>
            <strong class="subtitulos">
				Eliminar un elemento de una lista
			</strong>
            <br>La operación de eliminar un dato de una lista supone enlazar el nodo anterior con el nodo siguiente al que se desea eliminar y liberar la memoria que ocupa. El algoritmo sigue estos pasos:
            <ol>
                <li>
                    Búsqueda del nodo que contiene el dato. Se ha de obtener la dirección del nodo a eliminar y la dirección del anterior.
                </li>
                <li>
                    El enlace del nodo anterior que apunte al nodo siguiente del que se elimina.
                </li>
                <li>
                    Si el nodo a eliminar es el cabeza de la lista (primero), se modifica primero para que tenga la dirección del siguiente nodo.
                </li>
                <li>
                    Por último, la memoria ocupada por el nodo se libera. Es el propio sistema el que libera el nodo, al dejar de estar referenciado.
                </li>
            </ol>
        </div>
        <div class="parrafos">
            De ser Lista Doble y/o Lista Circular Doble Quitar un nodo de una lista supone realizar el enlace de dos nodos, el nodo anterior con el nodo siguiente al que se desea eliminar. La referencia adelante del nodo anterior debe apuntar al nodo siguiente, y la referencia atrás del nodo siguiente debe apuntar al nodo anterior. El algoritmo es similar al del borrado para una lista simple. Ahora, la dirección del nodo anterior se encuentra en la referencia atrás del nodo a borrar. Los pasos a seguir son:
            <ol>
                <li>Búsqueda del nodo que contiene el dato.</li>
                <li>La referencia adelante del nodo anterior tiene que apuntar a la referencia adelante del nodo a eliminar (si no es el nodo cabecera).</li>
                <li>La referencia atrás del nodo siguiente a borrar tiene que apuntar a la referencia atrás del nodo a eliminar (si no es el último nodo).</li>
                <li>Si el nodo que se elimina es el primero, cabeza, se modifica cabeza para que tenga la dirección del nodo siguiente.</li>
                <li>La memoria ocupada por el nodo es liberada automáticamente.</li>
            </ol>
            <div class="list-group text-center">
                <div class="mylist list-group-item list-group-item-warning" ng-repeat="num in vm.mylist 	track by $index ">
                    {{num}}
                </div>
            </div>
            <div class="text-center">
                <label>Valor a eliminar:</label>
                <input ng-model="vm.newValue2" name="" >
            </div>
            <div class="text-center"><br>
                <button class="btn btn-primary" ng-click="vm.fnDelete()">
                    Eliminar
                </button>
            </div>
        </div>
        <div class="parrafos">
            <strong class="subtitulos">Editar un elemento en una lista</strong>
            <br>La operación editar un elemento en una lista recorre la lista hasta encontrar la posición del nodo al que se desea modificar la información del elemento y actualiza la información del nodo por el nuevo elemento. El algoritmo, una vez modificada la información del nodo, devuelve la referencia a ese nodo (en caso negativo, devuelve null). Otro planteamiento es que el método devuelva true si se pudo modificar la información del nodo con el elemento, y false si no se pudo realizar la operación.
        </div>
        <br>
        <div class="parrafos">
            <strong class="subtitulos">Consulta de un elemento en una lista</strong>
            <br>La operación búsqueda de un elemento en una lista enlazada recorre la lista hasta encontrar el nodo con el elemento. El algoritmo, una vez encontrado el nodo, devuelve la referencia a ese nodo (en caso negativo, devuelve null). Otro planteamiento es que el método devuelva true si encuentra el nodo con el elemento, y false si no está en la lista.
        </div>
        <div class="parrafos"><br>
            <strong class="subtitulos">Clasificación de las listas enlazadas</strong>
            <br>Los diferentes tipos de listas dependen de la forma de enlazar los nodos, son:
            <br>
            <ul>
                <li>Listas simplemente enlazadas.</li>
                <li>Listas doblemente enlazadas.</li>
                <li>Lista circular simplemente enlazada.</li>
                <li>Lista circular doblemente enlazada.</li>
            </ul>
        </div>
    </div>
</div>
