<div class="container">
    <div>
        <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </div>
    <div class="jumbotron">
        <h2 class="text-center titulo">Pilas</h2>
        <div class="parrafos">
            Una pila es una colección de datos que representa una estructura lineal de datos en que se puede agregar o quitar elementos únicamente por uno de los dos extremos. En consecuencia, los elementos de una pila se eliminan en el orden inverso al que se insertaron. Debido a esta característica, se le conoce como estructura LIFO (last input, first output).
            <br>
            <br> Las pilas son estructuras de datos que tienes dos operaciones básicas: apilar (para insertar un elemento) y desapilar(para extraer un elemento). Su característica fundamental es que al extraer se obtiene siempre el último elemento que acaba de insertarse. Por esta razón también se conocen como estructuras de datos LIFO (del inglés Last In First Out). Una posible implementación mediante listas enlazadas sería insertando y extrayendo siempre por el principio de la lista.
        </div>
        <div class="parrafos"><br>
            <strong class="subtitulos">Operaciones</strong>
            <br>La estructura de Datos Pila solo realiza dos operaciones que conforman el funcionamiento, estás son:
            <br>
            <ul>
                <li>Apilar(insertar)</li>
                <li>Desapilar(Eliminar)</li>
            </ul>
            <br>
            <strong class="subtitulos">Ejemplo: </strong>
        </div>
        <div class="list-group text-center parrafos">
            <div id="lista_pila" class="mylistPile list-group-item list-group-item-warning" ng-repeat="numer in pl.mylist track by $index ">
                {{numer}}
            </div>
            <div class=" input_valor text-center">
                <input ng-model="pl.newValue" name="">
            </div>
            <div class="text-center">
                <button class="btn btn-primary" ng-click="pl.fnApilar()">
                    Apilar
                </button>
                <button class="btn btn-primary" ng-click="pl.fnDesApilar()">
                    Des-apilar
                </button>
            </div>
        </div>
    </div>
</div>
