<div class="container">
    <div>
        <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </div>
    <div class="jumbotron">
        <h2 class="text-center titulo">Tablas Hash</h2>
        <div class="parrafos">
            Una tabla hash o mapa hash es una estructura de datos que asocia llaves o claves con valores. Colección de elementos, cada uno de los cuales tiene una clave y una información asociada. Esta aproximación consiste en proceder, no por comparaciones entre valores clave, sino encontrando alguna función h(k), función de dispersión, que nos dé directamente la localización de la clave k en la tabla. La función de dispersión se aplica a lo que habitualmente se denomina como la clave del elemento (y que en ocasiones será él mismo). El objetivo será encontrar una función hash que provoque el menor número posible de colisiones (ocurrencias de sinónimos), aunque esto es solo un aspecto del problema, el otro será el de diseñar métodos de resolución de colisiones cuando éstas se produzcan.
        </div>
        <div class="parrafos">
            <br>
            <strong class="subtitulos" >Operaciones</strong>
            <br>
            <ul>
                <li>Insertar Llave</li>
                <li>Buscar Llave</li>
                <li>Eliminar Llave El costo para realizar alguna de estas operaciones en una Tabla Hash es de orden O(1).
                </li>
            </ul>
        </div>
        <div class="parrafos">
            <br>
            <strong class="subtitulos">Funciones de dispersión</strong>
            <br>
            <ul>
                <li>La Función de Dispersión convierte un Objeto en un Entero (valor Hash) adecuado para indexar la Tabla en la que se guardará el Objeto.</li>
                <li>Java dispone de mecanismos estándar para obtener valores hash a partir de cualquier Objeto:
                    <ul>
                        <li>
                            En la clase Object está definido el método: public int hashCode()
                        </li>
                        <li>
                            Este método devuelve un valor entero a partir del objeto sobre el que se invoca (obtenido a partir de la dirección de memoria del objeto sobre el que se invoca).
                        </li>
                        <li>
                            Dado que el método está implementado en la raíz de la jerarquía de herencia, cualquier clase dispone de una implementación por defecto.
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="parrafos">
            <strong class="subtitulos">Hashing Enlazado</strong>
            <br> El Hashing Enlazado usa un vector de Listas Enlazadas: Aquellos objetos que reciban un determinado valor de Hash, se insertarán en la lista enlazada correspondiente. El encadenamiento es un enfoque sencillo y eficaz para gestionar las colisiones.
            <ul>
                <li>
                    En una tabla hash con encadenamiento, las entradas de la tabla (normalmente llamadas slots o buckets, no contienen los propios objetos almacenados, sino listas enlazadas de los objetos.
                </li>
                <li>
                    Los objetos con claves colisionadas se insertan el la misma lista.
                </li>
                <li>
                    La inserción, la búsqueda y la eliminación se convierten en procesos de 2 pasos:
                    <br>
                    <ol>
                        <li>Utilizar la función hash para seleccionar el slot adecuado.</li>
                        <li>Realizar la operación necesaria en la lista enlazada a la que se hace referencia en dicho slot.</li>
                    </ol>
                </li>
            </ul>
        </div>
        <div class="parrafos">
            <strong class="subtitulos">Colisiones</strong>
            <br> Se puede dar el caso de que una información a insertar en la tabla presente el mismo valor hash, por ende habrán dos valores queriendo entrar a la misma posición de la tabla. Hay diversas soluciones para este problema, una de ellas es el encadenamiento.
        </div>
        <div class="parrafos">
            <br>
            <strong class="subtitulos">Factor de carga</strong>
            <br> El factor de carga es igual a la cantidad de elementos a insertar en la tabla dividida en la capacidad de esta misma, entre más diminuto sea el factor de carga se asegura que todas las operaciones realizadas en esta estructura serán de costo O(1).
            <br>
            <strong>Factor de carga = Elementos / Capacidad</strong>
            <br>
            <br> Entre más grande sea el valor del factor de carga más colisiones se presentaran, por lo tanto se recomienda crear una tabla hash con una capacidad mucho mayor que la de la cantidad de elementos.
        </div>
        <div class="parrafos">
            <br>
            <div>
                <ul> <strong> Key  -----> Valor </strong>
                    <li ng-repeat="(name, age) in tablasH.hash">{{name}} -----> {{age}} </li>
                </ul>
            </div>
            <div class="text-center">
                <label>
                    Insertar:
                </label>
                <input type="checkbox" ng-model="tablasH.insertar" ng-true-value="'insertar'" ng-change="tablasH.fnCambiarEstado" name="" />
                <label>
                    Eliminar:
                </label>
                <input type="checkbox" ng-model="tablasH.eliminar" ng-true-value="'eliminar'" name="">
                <label>
                    Actualizar:
                </label>
                <input type="checkbox" ng-model="tablasH.actualizar" ng-true-value="'actualizar'" name="">
            </div>
            <div class=" text-center">
                <label>
                    Key
                </label>
                <input ng-model="tablasH.indice_1" name="">
                <label>
                    Valor:
                </label>
                <input ng-model="tablasH.newValue" ng-disabled="tablasH.eliminar" name="">
            </div>
            <div class="text-center"><br>
                <button class="btn btn-primary" ng-click="tablasH.fnInsertar()">
                    actualizar
                </button>
            </div>
        </div>
    </div>
</div>
